<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> header}} 


    <div style="display: flex; justify-content: center;margin-top: 5%;">
        <ul>
            <div>
                <h1 style="display: flex;justify-content: center;text-decoration: underline;"> kiddygame</h1>
                <iframe src="https://kiddygame.onrender.com/" width="1200" height="900" style="margin-left: 10%; border-radius: 10px;"></iframe>

    
                <p style="max-width: 800px;margin-left: 23%;margin-top: 2%;border: 2px solid #333; padding: 10px;">kiddygame est un projet d'application web pour la fac fait sous NodeJs le but etant de creer un catalogue de jeux pour enfant avec le lien de telechargement et toute les informations associe avec un systeme de login password une gestion des favoris et un catalogue de jeux flash</p>
    
            </div>
            <div >
                <h1 style="display: flex;justify-content: center;text-decoration: underline;">Lyrics App</h1>
                <div style="display: flex;justify-content: center;">
                    <ul>
                        <img src="/img/lyricsapp5.png" class="lyricsapp">
                        <img src="/img/lyricsapp4.png" class="lyricsapp">
                        <img src="/img/lyricsapp3.png" class="lyricsapp">
                        <div style="display: flex;justify-content: center;"><img src="/img/lyricsapp1.png" class="lyricsapp"></div>
                    </ul>
                  
            
                 
                </div>
             

                <p style="max-width: 800px;margin-left: 23%;margin-top: 2%;border: 2px solid #333; padding: 10px;">Lyrics App est un logiciel  en java de recherche de parole de musique avec un systeme de favoris et de Playlist </p>
    
            </div>
           

            <div >
                <h1 style="display: flex;justify-content: center;text-decoration: underline;">STATS ACESS</h1>
                <div style="display: flex;justify-content: center;">
                    <ul>
                        <img src="" class="">
                        <img src="" class="">
                        <img src="" class="">
                        <img src="" class="">
                    </ul>
                  
            
                 
                </div>
             

                <p style="max-width: 800px;margin-left: 23%;margin-top: 2%;border: 2px solid #333; padding: 10px;">Cette application web, developpee dans le cadre d'un stage chez Free, a pour but de convertir des donnees en interface graphique afin de visualiser les interactions entre differents web services. Le tout etant  hebergee sur un serveur Apache avec un traitement des donnees fait en amont en base de donnees. </p>
    
            </div>
           

        </ul>
      

      
        
    </div>
    
</body>
</html>
<style>
    ul div {
        margin-bottom: 40px; /* Ajoute une marge de 10 pixels en bas de chaque élément de la liste */
    }
    .lyricsapp {
        width: 500px;
        height: 400px;

    }

</style>