
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <header>    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </header>
    
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a href="./index.html" class="navbar-brand"><img src="/view/image/house (1).png" style="width: 100px; height: 100px;" alt="Home"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="./portfolio.html">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link" href="./gamedev.html">GameDev</a></li>
                        <li class="nav-item"><a class="nav-link" href="./contact.html">Contact</a></li>
                      
                    </ul>
                </div>
            </div>
        </nav>
        
    
        <div style="display: flex; justify-content: center;margin-top: 5%;">
            <ul>
                <div>
                    <h1 style="display: flex;justify-content: center;text-decoration: underline;"> kiddygame</h1>
                    <iframe src="https://kiddygame.onrender.com/" width="1200" height="900" style="margin-left: 10%; border-radius: 10px;"></iframe>
    
        
                    <p style="max-width: 800px;margin-left: 23%;margin-top: 2%;border: 2px solid #333; padding: 10px;">kiddygame est un projet d'application web pour la fac fait sous NodeJs le but etant de creer un catalogue de jeux pour enfant avec le lien de telechargement et toute les informations associe avec un systeme de login password une gestion des favoris et un catalogue de jeux flash</p>
        
                </div>
                <div >
                    <h1 style="display: flex;justify-content: center;text-decoration: underline;">Lyrics App</h1>
                    <div style="display: flex;justify-content: center;">
                        <ul>
                            <img src="/img/lyricsapp5.png" class="lyricsapp">
                            <img src="/img/lyricsapp4.png" class="lyricsapp">
                            <img src="/img/lyricsapp3.png" class="lyricsapp">
                            <div style="display: flex;justify-content: center;"><img src="/img/lyricsapp1.png" class="lyricsapp"></div>
                        </ul>
                      
                
                     
                    </div>
                 
    
                    <p style="max-width: 800px;margin-left: 23%;margin-top: 2%;border: 2px solid #333; padding: 10px;">Lyrics App est un logiciel  en java de recherche de parole de musique avec un systeme de favoris et de Playlist </p>
        
                </div>
               
    
                <div >
                    <h1 style="display: flex;justify-content: center;text-decoration: underline;">STATS ACESS</h1>
                    <div style="display: flex;justify-content: center;">
                        <ul>
                            <img src="" class="">
                            <img src="" class="">
                            <img src="" class="">
                            <img src="" class="">
                        </ul>
                      
                
                     
                    </div>
                 
    
                    <p style="max-width: 800px;margin-left: 23%;margin-top: 2%;border: 2px solid #333; padding: 10px;">Cette application web, developpee dans le cadre d'un stage chez Free, a pour but de convertir des donnees en interface graphique afin de visualiser les interactions entre differents web services. Le tout etant  hebergee sur un serveur Apache avec un traitement des donnees fait en amont en base de donnees. </p>
        
                </div>
               
    
            </ul>
          
    
          
            
        </div>
        
    
    
    
    <!--Style général-->
    <style>
    
    
        html ,body {
            font-family: 'Press Start 2P', sans-serif;
            font-size: 1rem;
            line-height: 2; 
            height: 100%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            /*background-image: url('img/background.jpeg');*/
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2ab; 
    
        }
    


    
        
    
        .navbar {
            justify-content: flex-end; /* Alignement à droite */
            list-style: none;
            display: flex;
            padding: 0;
            background-color: #f2f2f2ab; 
        }
    
     
        .nav-item :hover {
            color: #b30000;
        }
    
    
    


        
    
    
    </style>

    






    


    <!-- LANGUAGE   --> 

    </body>
<!-- Option 1: Bootstrap Bundle avec Popper pour Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</html>


